# -----------------------------------------------------------
# URL の正規化 (www ありを www なしに統一)
# -----------------------------------------------------------
RewriteEngine On
RewriteBase /

# wwwありのアクセスをwwwなしに 301 リダイレクト
RewriteCond %{HTTP_HOST} ^www\.fujita-kc\.com [NC]
RewriteRule ^(.*)$ https://fujita-kc.com/$1 [R=301,L]

# -----------------------------------------------------------
# 旧ページを新トップページへ 301 リダイレクト
# -----------------------------------------------------------
Redirect 301 /tokucho /
Redirect 301 /kosu /
Redirect 301 /nagare /
Redirect 301 /inquiry /
Redirect 301 /access /
Redirect 301 /blank /
Redirect 301 /privacy /
